@model ProfileDetails
@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}
<header class="User__Header-bs3d1v-0 ivJOGc">
    <div class="User__Avatar-bs3d1v-1 gwtTTk">
        <img src='@Model.images[1].url' style="border-radius: 160px;width: 150px;height: 150px;" />
    </div>
    <a href="https://open.spotify.com/user/31fmxun7ibgubtgzqo2z2li3woju" target="_blank" rel="noopener noreferrer" class="User__UserName-bs3d1v-3 yEmJR">
        <h1 class="User__Name-bs3d1v-4 LAvRQ">@Model.display_name</h1>
    </a>
    <div class="gridview">
        <div class="User__Stat-bs3d1v-6 fJymqn">
            <div class="User__Number-bs3d1v-7 jdkwuX">@Model.followers.total</div>
            <p class="User__NumLabel-bs3d1v-8 hECgxm">Followers</p>
        </div><div class="User__Stat-bs3d1v-6 fJymqn">
            <div class="User__Number-bs3d1v-7 jdkwuX">1</div>
            <p class="User__NumLabel-bs3d1v-8 hECgxm">Following</p>
        </div><div class="User__Stat-bs3d1v-6 fJymqn">
            <a href="/playlists">
                <div class="User__Number-bs3d1v-7 jdkwuX">8</div>
                <p class="User__NumLabel-bs3d1v-8 hECgxm">Playlists</p>
            </a>
        </div>
    </div>
    <a class="User__LogoutButton">Logout</a>

</header>

