@font-face {
    font-family: 'spotifyText';
    src: url(../resources/fonts/Gotham-Bold.otf);
}

html, body {
    height: 100%;
}

html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
}

.container {
    text-align: center;
    font-family: spotifyText;
}

.contentContainer {
    width: 100%;
    margin: 0px auto;
    max-width: 1400px;
    min-height: 100vh;
    padding: 80px;
}

.listItem {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.topHeader {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.trackArtistsContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    width: 100%;
    margin-top: 100px;
}

.spotifytext {
    font-size: 32px;
    font-weight: 600 !important;
    letter-spacing: -2px;
    color: #FFFFFF; /* White text color */
}

.spotifybutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1DB954; /* Spotify's green color */
    color: #FFFFFF; /* White text color */
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 55px;
    transition: background-color 0.3s ease;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

/* Styles for screens narrower than 1024px */
.mobile-nav {
    display: block;
}

@media screen and (min-width: 1024px) {
    .mobile-nav {
        display: none;
    }
}

/* Styles for screens wider than or equal to 1024px */
.desktop-nav {
    display: none;
}

@media screen and (min-width: 1024px) {
    .desktop-nav {
        display: block;
        width: 200px; /* Adjust the width as needed */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        margin-left: 220px; /* Adjust the margin to make space for the nav bar */
    }
}


/* Define styles for the sidebar */
.sidebar {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    font-family: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    background-color: rgb(4, 3, 6);
    color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

    /* Style the sidebar list items */
    .sidebar ul {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center items vertically */
        min-height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100px;
        text-align: center;
    }

    .sidebar li {
        width: 100%;
        padding: 15px 0px;
    }

    .sidebar a {
        text-decoration: none;
        color: rgb(155, 155, 155) !important;
        display: block;
        line-height: 24px;
        font-size: 11px;
    }

    /* Add icons using Font Awesome (you need to include Font Awesome library) */
    .sidebar svg {
        width: 20px;
        height: 20px;
    }

    /* Style the links on hover*/
    .sidebar li:hover {
        background-color: #555;
        border-left: 5px solid rgb(30, 215, 96);
        transition: all 0.10s cubic-bezier(0.3, 0, 0.4, 1) 0s;
    }

        .sidebar li:hover svg {
            fill: white !important;
        }

        .sidebar li:hover div {
            color: white !important;
        }


.spotifyLogo {
    justify-content: start !important;

}

.logoSize {
    height: 50px !important;
    width: 50px !important;
}

.githubLogo {
    justify-content: end !important;
}

.githubSize {
    height: 30px !important;
    width: 30px !important;
}

.githubLogo li:hover svg {
    fill: white !important;
}

.gridview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}



.User__LogoutButton {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 30px;
    padding: 12px 30px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.displayName:hover {
    color: rgb(29, 185, 84);
}
.User__LogoutButton:hover {
    color: rgb(29, 185, 84) !important;
    border: 1px solid rgb(29, 185, 84) !important;
}

.gridview a:hover {
    color: rgb(29, 185, 84);
}

h3 {
    font-size: 16px;
    color: white;
}

.ePmxvI {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 11px 24px;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
    text-align: center;
    white-space: nowrap;
}

.laDPlW img {
    width: 50px;
    min-width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 100%;
}

.eICktH {
    display: inline-block;
    position: relative;
    width: 50px;
    min-width: 50px;
    margin-right: 20px;
}

.dgCtZc {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
}


.hpMQCf {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

.ifBWOt {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 10px;
}

.iUsQKd {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1px;
    text-align: start;
}

.bAIAgq {
    margin-bottom: 5px;
    border-bottom: 1px solid transparent;
}

.bGSJpz {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1px;
    color: rgb(155, 155, 155);
    font-size: 14px;
    margin-top: 3px;
}

.kuSgKs {
    color: rgb(155, 155, 155);
    font-size: 14px;
}